* {
	font-family: Avenir, Arial, sans-serif;
	box-sizing: border-box;
}

.toggled{
	height: auto;
	overflow: visible;
}

.untoggled{
	height: 0;
	overflow: hidden;
}

.petition h3{
	cursor: pointer;
}
header{
	border: 5px solid black;
	padding: 10px;
	text-align: center;
	align-content: center;
	width: 60%;
}
.header{
	width: 60%;
	background-color: red;
}
